<div class="container about_container">
	<div class="about_message1">
		<h1 style="color: #b7282c;">エレピア</h1><h3 style="padding-top: 2%;">って？</h3>
	</div>
	<div class="about_message2">
		<p>エレピアは、女性向けの電化製品に特化したインスタライクのシェアサービスです。</p>
		<p>「オシャレでカワイイ電化製品はたくさんあるから、もっと知って欲しい！」</p>
		<p>という願いから生まれました。</p>
		<p>こちらのサイトは写真の投稿やレビュー、他のユーザがオススメしている</p>
		<p>電化製品を見ることができ、人気のランキングなどもあります。</p>
	</div>
	<div class="about_line1"></div>
</div>

<div class="container about_container2">
	<div class="row row1">
		<div class="top_image2">
			<%= image_tag('PF_img_c_1.png', style: "width: 100%;") %>
		</div>
		<!-- <div class="top_text2">
			<P>オススメの電化製品を投稿しよう！<br>
			投稿はマイページから行えます！</P>
		</div> -->
	</div>

	<div class="row row2">
		<div class="top_image3">
			<!-- <P class="top_text3">いいねしたり、他のユーザが投稿した製品を<br>
			お気に入りリストに追加もできます！</P> -->
			<%= image_tag('PF_img_c_2.png', style: "width: 100%;") %>
		</div>
	</div>
</div>
