<div class="container author_container">
	<div class="author_title">
		<p class="author_title_1">
			Author
		</p>
		<p class="author_title_2">
		 	作成者
		</p>
	</div>

	<div class="author_box">
		<div class="author_image">
			<%= image_tag('IMG_3341.jpg', style: "width: 400px;") %>
		</div>
		<div class="author_message">
			<table>
				<tr>
					<td>氏名</td>
					<td>猪原 将志(Masashi Inohara)</td>
				</tr>
				<tr>
					<td>好きな食べ物</td>
					<td>トマト</td>
				</tr>
				<tr>
					<td>好きな色</td>
					<td>深めの赤</td>
				</tr>
				<tr>
					<td>趣味</td>
					<td>アニメ鑑賞、ウィンドウショッピング、写真</td>
				</tr>
			</table>
		</div>

		<div class="author_message2">
			<p>コメント:<br>
				こんにちは。作成者のイノハラと申します。<br>
				約１ヶ月間のポートフォリオを終えた感想や<br>
				意識したこと、後悔などを軽くお話します。<br>
			</p>
		</div>
		<div class="author_message3">
			<p>まず、今回私が扱ったテーマが<br>
				「電化製品」と「女性」でした。<br>
				実際にポートフォリオを作る上で、<br>
				ありふれたテーマでは自分が作っていて<br>
				面白くないと思って、このテーマにしました。<br>
				ベースにあるのはありふれた投稿型のサービスですが、<br>
				そこにあまり馴染みのないテーマが加わることで、<br>
				ちょっとした可能性を自分にも作品にも<br>見出せるのではないかと考えました。<br>
				自身の技術力ではここまでが限界でしたが、<br>
				管理者側の作成や複数画像の投稿など、<br>
				やりたいことはたくさんありました。<br>
				時間の管理はとても難しく、期日までに終わらせる<br>
				ということはこの先も必ず直面することなので、<br>
				そういったことも学べたことに感謝しています。
			</p>
		</div>
		<div class="author_message4">
			<p>デザインに関しては女性らしさを感じる清潔感や<br>
				見やすいように空白を意識して作成しました。<br>
				全体的な色味に関して、一部を除いて基本色は<br>
				赤、ピンク、白で統一させています。<br>
				ターゲットが20~40代の女性をイメージしているのと<br>
				女性向けの電化製品の色味に近い配色にしています。
			</p>
		</div>

		<div class="author_image2">
		<%= image_tag('PF_logo_proto2.png', style: "width: 700px; height: 455px;") %>
		</div>
	</div>
</div>
